<body>
    <section class="carouselPreview wrapper">
        <h2><a href="">New In</a></h2>
        <div class="carouselContainer">
            <div class="newItem1">
                <img src="https://via.placeholder.com/150x300" alt="Beauty Dashboard Logo">
                <div>
                    <h3>Brand Name</h3>
                    <h4>Product Name</h4>
                    <span>Original Price</span>
                    <span>Date Added</span>
                </div>
            </div>
            <div class="newItem2">
                <img src="https://via.placeholder.com/150x300" alt="Beauty Dashboard Logo">
                <div>
                    <h3>Brand Name</h3>
                    <h4>Product Name</h4>
                    <span>Original Price</span>
                    <span>Date Added</span>
                </div>
            </div>
            <div class="newItem3">
                <img src="https://via.placeholder.com/150x300" alt="Beauty Dashboard Logo">
                <div>
                    <h3>Brand Name</h3>
                    <h4>Product Name</h4>
                    <span>Original Price</span>
                    <span>Date Added</span>
                </div>
            </div>
            <div class="newItem4">
                <img src="https://via.placeholder.com/150x300" alt="Beauty Dashboard Logo">
                <div>
                    <h3>Brand Name</h3>
                    <h4>Product Name</h4>
                    <span>Original Price</span>
                    <span>Date Added</span>
                </div>
            </div>
            <div class="newItem5">
                <img src="https://via.placeholder.com/150x300" alt="Beauty Dashboard Logo">
                <div>
                    <h3>Brand Name</h3>
                    <h4>Product Name</h4>
                    <span>Original Price</span>
                    <span>Date Added</span>
                </div>
            </div>
        </div>
    </section>
    <section class="carouselPreview wrapper">
        <h2><a href="">New to Sale</a></h2>
        <div class="carouselContainer">
            <div class="saleItem1">
                <img src="https://via.placeholder.com/150x300" alt="Beauty Dashboard Logo">
                <div>
                    <h3>Brand Name</h3>
                    <h4>Product Name</h4>
                    <span>Original Price</span><span>Sale Price</span>
                    <span>Date Added</span><span>Date Added to Sale</span>
                </div>
            </div>
            <div class="saleItem1">
                <img src="https://via.placeholder.com/150x300" alt="Beauty Dashboard Logo">
                <div>
                    <h3>Brand Name</h3>
                    <h4>Product Name</h4>
                    <span>Original Price</span><span>Sale Price</span>
                    <span>Date Added</span><span>Date Added to Sale</span>
                </div>
            </div>
            <div class="saleItem3">
                <img src="https://via.placeholder.com/150x300" alt="Beauty Dashboard Logo">
                <div>
                    <h3>Brand Name</h3>
                    <h4>Product Name</h4>
                    <span>Original Price</span><span>Sale Price</span>
                    <span>Date Added</span><span>Date Added to Sale</span>
                </div>
            </div>
            <div class="saleItem4">
                <img src="https://via.placeholder.com/150x300" alt="Beauty Dashboard Logo">
                <div>
                    <h3>Brand Name</h3>
                    <h4>Product Name</h4>
                    <span>Original Price</span><span>Sale Price</span>
                    <span>Date Added</span><span>Date Added to Sale</span>
                </div>
            </div>
            <div class="saleItem5">
                <img src="https://via.placeholder.com/150x300" alt="Beauty Dashboard Logo">
                <div>
                    <h3>Brand Name</h3>
                    <h4>Product Name</h4>
                    <span>Original Price</span><span>Sale Price</span>
                    <span>Date Added</span><span>Date Added to Sale</span>
                </div>
            </div>
        </div>
    </section>
</body>